 
#container {

    padding :  0 20px 0 px 20px;
    margin : 0 auto;
    height: 100vh;

}
h1 , h2 , h3
{
     
    text-align : center;    
        
    

    line-height: 2em;

}
h1{color:rgb(182, 182, 182);}
h2{color:rgb(207, 207, 207);}
#h2 {
  padding : 20px 0 0 0;
}


body{
            
            
    background:#444;
    
    


    
    }
    

    nav{
      text-align:center;
      padding: 40px 40px;
    }
    nav a {
      text-decoration: none;
      font-size: 30px;
      color:rgb(155, 155, 155);
      padding: 20px 20px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    nav a:hover {
  
      color:rgb(255, 255, 255);
  
    }

button{
    background:none;
    color:rgb(189, 189, 189);
    padding: 20px;
    border:0px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}
 
.button{
    
   width: 130px;
  height: 40px;
  line-height: 42px;
  perspective: 230px;
  text-align: center;
}
.button span {
  
  background-color:#111;
  display: block;
  position: absolute;
  left:-20px;
  width: 170px;
  height: 40px;
  border-radius: 5px;
  margin:0;
  text-align: center;
  transition: all .3s;
  box-shadow: 5px 5px 5px #111;
}
.button span:nth-child(1) {
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
}
.button span:nth-child(2) {
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
}
.button:hover span:nth-child(1) {
  transform: rotateX(0deg);
}
.button:hover span:nth-child(2) {
 color: transparent;
  transform: rotateX(-90deg);
}
   